<!DOCTYPE html>
<html   lang="en" ng-app="myAngularRate">
<head>
	<title>汇率地图-让货币兑换更简单</title>
	<link rel="stylesheet" href="styles/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="styles/app.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrapSwitch.css">
	<link rel="stylesheet" href="http://servicesbeta.esri.com/jsapi/arcgis/3.5/js/dojo/dijit/themes/tundra/tundra.css">
	<link rel="stylesheet" href="http://servicesbeta.esri.com/jsapi/arcgis/3.5/js/esri/css/esri.css">
	<link rel="stylesheet" type="text/css" href="styles/docs.css">
	<script type = "text/javascript" >
	var dojoConfig = {
		packages: [{
			"name": "my",
			"location": location.pathname.replace(/\/[^/]+$/, '') + "/scripts/myModel"
		}]
	} </script>
	<script src="http://servicesbeta.esri.com/jsapi/arcgis/3.5/"></script>
	<script type="text/javascript" src="scripts/vendor/jquery.js"></script>
	<script src="scripts/vendor/angular.min.js"></script>
	<script src="scripts/vendor/angular-resource.min.js"></script>
	<script src="scripts/vendor/bootstrap.js"></script>
	<script type="text/javascript" src="scripts/vendor/bootstrapSwitch.js"></script>
	<script src="scripts/services/services.js"></script>
	<script src="scripts/controllers/controllers.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	
</head>
<body style="
padding-top: 0px;
">
<header class="jumbotron subhead" style="
margin-bottom: 20px;
" >
<div class="container">
	<h1>汇率地图</h1>
	<p class="lead">让货币兑换更简单</p>
</div>
</header>

<div class="container-fluid" ng-controller="rateTable">
	<div class="row-fluid">
		<div class="span4" style="height:800px;overflow:auto">
			<form class="form-search">
				<input type="text" class="input-medium search-query" ng-model='query' placeholder="查询货币代码">
			</form>
			<table class="table table-bordered table-hover table-condensed text-center">
				<tbody><tr><td colspan="2">{{rateDate*1000|date:'yyyy-MM-dd HH:mm'}}美元对其他货币汇率</td></tr><tr ng-repeat="rate in rates|filter:query" ng-click="setCurrency($index)"><td>{{rate.name}}{{rate.fullname}}</td><td>{{rate.nowrate|number:4}}</td></tr></tbody>
			</table>

		</div>
		<div class="span8">

			<div class="input-prepend">          

				
					<span class="add-on">锁定选取</span> 
					<div class="switch" id="fromCurrencyCheck" >
						<input  type="checkbox" checked />
					</div>

				<span class="add-on">{{inputCurrency}}</span>
				<input class="span3" id="inputMoney" ng-model="inputMoney" type="text">
			</div>


			<div class="input-prepend">       
					<span class="add-on">锁定选取</span>  
					<div class="switch" id="toCurrencyCheck">
						<input  type="checkbox" />
					</div>     
				<span class="add-on">{{outputCurrency}}</span>      
				<input class="span4" id="outputMoney" ng-model="outputMoney"  type="text">
			</div>
			<div id="mapDiv" style="height:800px"></div>



			<!--<span>{{cnyamount}}</span>-->
		</div>
	</div>
</div>
</body>
</html>